header {
  background-color: #2A6F97;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 20%)
    }
  }
  li.login{
    display: flex;
    justify-content: space-evenly;
    margin-right:50px;
  }
  div.links{
    margin-top:39px;
  }
  .novid-head{
    color: #fff;
    margin-top: 0;
  }
  i.fas.fa-virus.fa-4x::before{
    color: #72c217;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}