body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
a:hover {
  color:  #72c217;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
div.states.card {
  margin-top: 15px;
}
div.usStatCards{
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 425px;
  height: 170px;
  margin-right: 0;
  margin-left: 15px;
  box-shadow: lightgray;
}
div.stat.card-body{
  height: 70px;
  margin: 10px 10px -20px 10px;
  background-color: #89C2D9;
  padding-bottom: -10px;
}
div.usStatText.card-title.h5 {
  padding: 6px;
}
p.usStatNum.card-text {
  font-size: 25px;
  margin: 0;
}
canvas.chartjs-render-monitor{
  box-shadow: lightgray;
  background-color: #f8f8f8;
  max-height: 250px;
  max-width: 250px;
}
.inlineStuff{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.line{
  box-shadow: lightgray;
  background-color: #f8f8f8;
  margin-top: 50px;
}
